body {
  background-color: rgb(225, 225, 225);
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.home_link {
  text-decoration: none;
  color: black;
}

.nav-container {
  margin-top: 15px;
  height: 55px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.tc1 {
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.tc1 p {
  font-size: 12px;
  margin: 0;
}

.tc1 img {
  height: 55px;
}

.tc1 h2 {
  font-size: 24px;
  width: 50%;
  font-weight: 600;
  margin: 0;
}

.tc3 {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 55px;
  margin-right: 30px;
}

.tc3 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tc3 ul li {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 55px;
  border-left: .1px solid rgb(127, 125, 125);
  font-weight: bold;
}

.tc3 ul li:first-child {
  border-left: none;
}

.phone-icon {
  color: rgb(56, 117, 230);
}

.phone-icon {
  padding-right: 10px;
  padding-left: 10px;
}

.deals-container {
  display: grid;
  height: 600px;
  width: 100%;
  background-image: url('./assets/cruiseship.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.savings {
  display: grid;
  width: 50%;
  justify-items: center;
  justify-self: right;
}

.combine {
  display: flex;
  padding-top: 200px;
  font-size: 30px;
}

.change-free {
  color: rgb(56, 117, 230);
  padding-right: 10px;
}

.other-deal {
  color: white;
}

.countdown {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: -120px;
}

/*/////////// cruise dates and prices list */
.cruise_date_container {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1.5fr .5fr;
  width: 80%;
  height: 320px;
  box-shadow: grey 2px 5px 5px 3px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
}

.cruise-date {
  padding-left: 30px;
  line-height: 40px;
  font-size: 20px;
}

.sailing_from_to {
  font-size: 15px;
}

.cruise_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cruise_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search_now {
  margin: 0 auto;
  margin-top: -100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 180px;
  width: 70%;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  box-shadow: rgb(189, 187, 187) 2px 5px 5px 3px;
}

.sn_text {
  padding-left: 30px;
}

.sn_text p {
  word-spacing: 30px;
  color: rgb(109, 109, 109);
}

.sn_button {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 30px;
}

.find_cruise_button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  padding: 15px;

  background-color: rgb(5, 55, 131);
  border-radius: 3px;
}

.find_cruise_button:hover {
  background-color: rgb(24, 102, 219);
}

.search_container {
  height: 200px;
  width: 80%;
  display: grid;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  margin-top: 70px;
  box-shadow: rgb(189, 187, 187) 2px 5px 5px 3px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 15px;
}

.checkbox {
  margin-left: 10px;
  /* Adjust margin as needed */
}

/* Filter downdown box*/
.cruise-dates_container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-dropdown {
  display: flex;
  margin-top: 20px;

}

.dropdown-button {
  background-color: rgb(56, 117, 230);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.dropdown-button:hover,
.dropdown-button:focus {
  background-color: rgb(56, 117, 230);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 10px;
  margin-top: 50px;
}

.filter-dropdown .dropdown-content {
  display: block;
}

.dropdown-content label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown-content input[type='checkbox'] {
  margin-right: 10px;
}

.cruise_date_container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cruise-date h3 {
  margin: 0 0 10px 0;
}

.sailing_from_to {
  font-size: 14px;
  color: #666;
}

.cruise_image img {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

.fa-chevron-down {
  margin-left: 5px;
}

.dropdown-button:focus+.dropdown-content,
.dropdown-content:hover {
  display: block;
}

/* about awsome cruise lines*/
.about-awesome-container {
  margin-top: 30px;
  text-align: center;
  padding: 2rem;
  background-color: rgb(225, 225, 225);
}

.about-introduction h2 {
  color: #1a1a1a;
  margin-bottom: 1rem;
}

.about-introduction p {
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.featured-destinations h3 {
  color: #0173a0;
  margin-bottom: 2rem;
}

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.destination {
  text-align: center; /* Center the text */
  padding: 1rem;
  margin: 0 auto; /* Center the articles if they are not taking full width of their container */
  max-width: 340px; /* Adjust the width as needed, so it wraps around the image nicely */
}
.destination img {
  width: 100%; /* Make the image fill the container */
  max-width: 700px; /* Set a max-width for all images */
  height: 300px; /* Set a fixed height for all images */
  object-fit: cover; /* This will cover the area without stretching the image */
  display: block; /* Block display to fill the width of the container */
  margin: 0 auto; /* Auto margins for horizontal centering */
  border-radius: 4px; /* Optional: rounded corners for aesthetics */
}
.destination h4 {
  color: #1a1a1a;
  margin-top: 1rem;
}

.destination p {
  color: #333;
  font-size: 0.9rem;
  line-height: 1.4;
}
.awesome-difference-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  flex: 1;
  padding: 15px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-container {
  flex: 1;
  padding: 15px;
  text-align: left;
}

.text-container h2 {
  color: #003366; /* Dark blue color; adjust as per your theme */
  margin-bottom: 20px;
}

.text-section h3 {
  color: #003366;
  margin-top: 20px;
}

.text-section p {
  color: #666; /* Dark gray text; adjust as per your theme */
  line-height: 1.6;
}



/* Responsive Grid */
@media (max-width: 768px) {
  .destinations-grid {
    grid-template-columns: 1fr;
  }
  .awesome-difference-container {
    flex-direction: column;
  }

  .image-container, .text-container {
    flex: none;
    width: 100%;
    padding: 15px 0;
  }
}